.img{
    height: 100%;
    width: 100%;
    text-align: center;
}

#name{
    color: black;
    background-color: aqua;
    border-radius: 10px;
    font-size: 30px;
}

#np{
    color: black;
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
}